.form {
  display: flex;
  gap: 10px;
}

.form input {
  padding: 10px 100px 10px 10px;
  border-radius: 10px;
}

.form button {
  border: transparent;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;

  color: rgb(0, 0, 0);
  background-color: rgb(177, 196, 12);
}

.form button:hover {
  background-color: rgb(94, 94, 206);
  color: white;
}

.filmList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.filmList a {
  font-size: 20px;
  font-weight: 500;

  color: rgb(255, 0, 0);
}